:root {
  --primary-color: #ffbf00;
}

$base-color: var(--primary-color);

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.container {
  width: 1280px;
  display: block;
}

h1 {
  margin-top: 0;
}

.header-holder {
  border-radius: 8px;
  background: #141414;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;
  margin: 0 0 24px;
}

body {
  background-color: $base-color;
}
