.navigation-menu {
    border-radius: 8px;
    border: var(--ant-line-width) var(--ant-line-type) var(--ant-color-border-secondary) !important;
    width: 100%;
    top: 20px;
    position: sticky;
}
