.client-info-list {
    list-style: none;
    padding: 0;

    li {
        border-bottom: var(--ant-line-width) var(--ant-line-type) var(--ant-color-border-secondary);

        &:last-child {
            border-bottom: none;
        }
    }
}

.client-info-card {
    text-align: left;

    h1 {
        font-weight: 400;
    }
}
